# Windows stuff
.picasa.ini
Thumbs.db

# LaTeX stuff
*.synctex.gz
*.4tc
*.4ct
*.aux
*.bbl
*.blg
*.dvi
*.nav
*.out
*.snm
*.toc

# SublimeText 2 stuff
*.sublime-project
*.sublime-workspace

# Various
*.log

# Output
*.pdf
*.ps
